{% extends "layout.html" %}

{% block content %}



<form action="{{ url_for('index') }}" method='POST'>
	{{ form.orderedWith }}
	{{ form.submit }}
</form>

		{% for routes in routeList %}
		<a href="{{ url_for('routine', idNum=routes.id) }}">{{routes.rTitle}}</a><br>
		<br>
		{{routes.author}}<br>
		<br>
		{{routes.description}}

		
		<a href="{{ url_for('delete', idNum=routes.id) }}">Delete</a><br>
		<a href="{{ url_for('update', idNum=routes.id) }}">Update</a><br>
		<br>
		{% endfor %}

{% endblock content %}
