{% extends "layout.html" %}

{% block content %}



<form action="{{ url_for('index') }}" method='POST'>
	{{ form.orderedWith }}
	{{ form.submit }}
</form>

		{% for routes in routeList %}


		<table style="width:70%">
			<tr>
				<th><a href="{{ url_for('routine', idNum=routes.id) }}">{{routes.rTitle}}</a></th>
				<th>by {{routes.author}}</th>
				<th></th>
				<th></th>
				<th></th>
		
			  </tr>
			  <tr>
				  
				<td colspan="2" style="text-align:center">{{routes.description}}</td>
				<td style="text-align:center"><form action='{{ url_for('routine', idNum=routes.id) }}'>
					<input type=submit value="go to  routine">
					</form></td>
				<td style="text-align:center"><form action='{{ url_for('update', idNum=routes.id) }}'>
					<input type=submit value="update routine">
					</form></td>
				<td style="text-align:center"><form action='{{ url_for('delete', idNum=routes.id) }}'>
					<input type=submit value="delete routine">
					</form></td>
				</tr>
				
				</tr>
			</table>

		{% endfor %}

{% endblock content %}
